.vscode
.ipynb_checkpoints
.clj-kondo
.lsp
n2.html
figures
*.lp
*.pyc
*.png
*.sqlite
*/datastructures/__pycache__/
*/minimdo.egg-info/
*.html
*.out
*.pdf
*.tikz
*.tex
*/openaerostruct_examples/
*/docs/_build
*.json
*.ply
*.vtk
*.stl
*.bib
*.txt
*.yml
*.egg
*.jupyterlab-workspace
*/__pycache__